.post-detail {
    width: 500px;
    margin: 0 auto;
}

.example-header-image {
    background-image: url('../../../content/images/hipster.png');
    background-size: cover;
}

.bost-image {
    width: 100px !important;
}

.detail-header-style {
    font-family: Georgia;
}

.post-content-style {
    background-color: lightblue;
    background-size: cover;
}
